<section class="service-area" id="services">
    <h3 class="section-title">Que <span>ofrecemos</span></h3>
    <ul class="service-content">
        <li>
            <img src="../../../assets/images/r1.jpg">
            <h4>Instalaciones</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta
            </p>
        </li>

        <li>
            <img src="../../../assets/images/v1.jpg">
            <h4>Entrenamiento</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta
            </p>
        </li>
    
        <li>
            <img src="../../../assets/images/o1.jpg">
            <h4>Nutricion</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta
            </p>
        </li>
    </ul>
</section>